* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

select, .filler {
  appearance: none;
  width: 100%;
  height: 100%;
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 130%;
  padding: 5px;
  height: max-content;
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

.filler {
  visibility: hidden;
  position: absolute;
  border: 1px solid black;
  top: 0px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  position: absolute;
  content: "▼";
  font-size: 1.2rem;
  top: 8px;
  right: -20px;
}

.left, .right {
  flex: 1;
}

.middle {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.header {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.outer {
  height: 600px;
  width: 600px;
  border-radius: 1.4rem;
  background-color: #ff3333;
  box-shadow: 2px 10px 8px #6b7280;
  padding: 1.5rem;
}

#board, .outer {
  border: 0.5rem solid black;
}

#board {
  display: grid;
  background-color: black;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.cols {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cols:hover {
  transform: scale(1.04);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cols:active {
  opacity: 0.9;
}

.col-00, 
.col-01,
.col-02 {
  border-top: none;
}

.col-00, 
.col-10, 
.col-20 {
  border-left: none;
}

.col-02, 
.col-12, 
.col-22 {
  border-right: none;
}

.col-20, 
.col-21, 
.col-22 {
  border-bottom: none;
}

.col-01, 
.col-11, 
.col-21 {
  background-color: #bae6fd;
}
.col-10, 
.col-12 {
  background-color: #7dd3fc;
}

.right {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
}

.left {
  padding: 40px;
  display: flex;
}

.left-btn, .right-btn {
  background-color: #0284c7;
  padding: 8px;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 10px 8px #6b7280;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.right-btn div:last-child, .left-btn div:last-child {
  color: white;
  padding-top: 4rem;
  font-size: 1.8rem;
}

.right-btn:hover, .left-btn:hover, .reset:hover{
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.left-btn:active, .right-btn:active, .reset:active {
  opacity: .9;
}

.button-container {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin: 0;
}

.reset {
  font-size: larger;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 50%;
  background-color: #ff3333;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 10px 8px #6b7280;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}